In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /opt/homebrew/Cellar/jupyterlab/3.4.3/libexec/lib/python3.10/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /opt/homebrew/Cellar/jupyterlab/3.4.3/libexec/lib/python3.10/site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/3.4.3/libexec/bin/python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark

In [3]:
import pandas as pd

In [10]:
pd.read_csv("data/toddlers.csv")

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1050,0,0,0,0,0,0,0,0,0,1,24,1,f,White European,no,yes,family member,No
1050,1051,0,0,1,1,1,0,1,0,1,0,12,5,m,black,yes,no,family member,Yes
1051,1052,1,0,1,1,1,1,1,1,1,1,18,9,m,middle eastern,yes,no,family member,Yes
1052,1053,1,0,0,0,0,0,0,1,0,1,19,3,m,White European,no,yes,family member,No
1053,1054,1,1,0,0,1,1,0,1,1,0,24,6,m,asian,yes,yes,family member,Yes

In [11]:
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName("Autism").getOrCreate()

In [13]:
 def update_spark_log_level(self, log_level='info'):
        self.spark.sparkContext.setLogLevel(log_level)
        log4j = self.spark._jvm.org.apache.log4j
        logger = log4j.LogManager.getLogger("my custom Log Level")
        return logger;

In [14]:
spark

In [15]:
# Read the dataset in pyspark
df_pyspark = spark.read.csv("data/toddlers.csv",header=True,inferSchema=True)

In [16]:
df_pyspark.show()

+-------+---+---+---+---+---+---+---+---+---+---+--------+--------------+---+--------------+--------+-------------------+----------------------+-----------------+
|Case_No| A1| A2| A3| A4| A5| A6| A7| A8| A9|A10|Age_Mons|Qchat-10-Score|Sex|     Ethnicity|Jaundice|Family_mem_with_ASD|Who completed the test|Class/ASD Traits |
+-------+---+---+---+---+---+---+---+---+---+---+--------+--------------+---+--------------+--------+-------------------+----------------------+-----------------+
|      1|  0|  0|  0|  0|  0|  0|  1|  1|  0|  1|      28|             3|  f|middle eastern|     yes|                 no|         family member|               No|
|      2|  1|  1|  0|  0|  0|  1|  1|  0|  0|  0|      36|             4|  m|White European|     yes|                 no|         family member|              Yes|
|      3|  1|  0|  0|  0|  0|  0|  1|  1|  0|  1|      36|             4|  m|middle eastern|     yes|                 no|         family member|              Yes|
|      4|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|      24|            10|  m|      Hispanic|      no|                 no|         family member|              Yes|
|      5|  1|  1|  0|  1|  1|  1|  1|  1|  1|  1|      20|             9|  f|White European|      no|                yes|         family member|              Yes|
|      6|  1|  1|  0|  0|  1|  1|  1|  1|  1|  1|      21|             8|  m|         black|      no|                 no|         family member|              Yes|
|      7|  1|  0|  0|  1|  1|  1|  0|  0|  1|  0|      33|             5|  m|         asian|     yes|                 no|         family member|              Yes|
|      8|  0|  1|  0|  0|  1|  0|  1|  1|  1|  1|      33|             6|  m|         asian|     yes|                 no|         family member|              Yes|
|      9|  0|  0|  0|  0|  0|  0|  1|  0|  0|  1|      36|             2|  m|         asian|      no|                 no|         family member|               No|
|     10|  1|  1|  1|  0|  1|  1|  0|  1|  1|  1|      22|             8|  m|   south asian|      no|                 no|  Health Care Profe...|              Yes|
|     11|  1|  0|  0|  1|  0|  1|  1|  0|  1|  1|      36|             6|  m|      Hispanic|     yes|                yes|         family member|              Yes|
|     12|  1|  1|  1|  1|  0|  1|  1|  1|  0|  1|      17|             8|  m|middle eastern|     yes|                 no|         family member|              Yes|
|     13|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|      25|             0|  f|middle eastern|     yes|                 no|         family member|               No|
|     14|  1|  1|  1|  1|  0|  0|  1|  0|  1|  1|      15|             7|  f|middle eastern|     yes|                 no|         family member|              Yes|
|     15|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|      18|             0|  m|middle eastern|      no|                 no|         family member|               No|
|     16|  1|  1|  1|  0|  1|  0|  1|  1|  0|  1|      12|             7|  m|         black|      no|                 no|         family member|              Yes|
|     17|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|      36|             0|  m|middle eastern|      no|                yes|         family member|               No|
|     18|  1|  1|  1|  0|  1|  1|  1|  1|  0|  1|      12|             8|  f|middle eastern|     yes|                 no|         family member|              Yes|
|     19|  1|  0|  0|  0|  1|  0|  0|  0|  0|  1|      29|             3|  f|middle eastern|      no|                 no|         family member|               No|
|     20|  1|  1|  1|  0|  1|  0|  1|  1|  0|  1|      12|             7|  f|         black|      no|                 no|         family member|              Yes|
+-------+---+---+---+---+---+---+---+---+---+---+--------+--------------+---+--------------+--------+-------------------+----------------------+-----------------+
only showing top 20 rows

In [17]:
df_pyspark.printSchema()

root
 |-- Case_No: integer (nullable = true)
 |-- A1: integer (nullable = true)
 |-- A2: integer (nullable = true)
 |-- A3: integer (nullable = true)
 |-- A4: integer (nullable = true)
 |-- A5: integer (nullable = true)
 |-- A6: integer (nullable = true)
 |-- A7: integer (nullable = true)
 |-- A8: integer (nullable = true)
 |-- A9: integer (nullable = true)
 |-- A10: integer (nullable = true)
 |-- Age_Mons: integer (nullable = true)
 |-- Qchat-10-Score: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- Jaundice: string (nullable = true)
 |-- Family_mem_with_ASD: string (nullable = true)
 |-- Who completed the test: string (nullable = true)
 |-- Class/ASD Traits : string (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [26]:
from pyspark.sql.types import *

In [27]:
from pyspark.sql.functions import col

In [32]:
autism_schema = StructType([StructField('Case_No',IntegerType(),True),
                          StructField('A1',IntegerType(),True),
                          StructField('A2',IntegerType(),True),
                          StructField('A3',IntegerType(),True),
                          StructField('A4',IntegerType(),True),
                          StructField('A5',IntegerType(),True),
                          StructField('A6',IntegerType(),True),
                          StructField('A7',IntegerType(),True),
                          StructField('A8',IntegerType(),True),
                          StructField('A9',IntegerType(),True),
                          StructField('A10',IntegerType(),True),
                          StructField('Age_Mons',IntegerType(),True),
                          StructField('Qchat-10-Score',IntegerType(),True),
                          StructField("Sex",StringType(),True),
                          StructField("Ethnicity",StringType(),True),
                          StructField("Jaundice",StringType(),True),
                          StructField("Family_mem_with_ASD",StringType(),True),
                          StructField("Who completed the test",StringType(),True),
                          StructField("Class/ASD Traits ",StringType(),True)])

In [33]:
sf_autism_file = "data/toddlers.csv"

In [34]:
autism_df = spark.read.csv(sf_autism_file, header=True,schema=autism_schema)

In [43]:
autism_df.show(5,truncate=False)

+-------+---+---+---+---+---+---+---+---+---+---+--------+--------------+---+--------------+--------+-------------------+----------------------+-----------------+
|Case_No|A1 |A2 |A3 |A4 |A5 |A6 |A7 |A8 |A9 |A10|Age_Mons|Qchat-10-Score|Sex|Ethnicity     |Jaundice|Family_mem_with_ASD|Who completed the test|Class/ASD Traits |
+-------+---+---+---+---+---+---+---+---+---+---+--------+--------------+---+--------------+--------+-------------------+----------------------+-----------------+
|1      |0  |0  |0  |0  |0  |0  |1  |1  |0  |1  |28      |3             |f  |middle eastern|yes     |no                 |family member         |No               |
|2      |1  |1  |0  |0  |0  |1  |1  |0  |0  |0  |36      |4             |m  |White European|yes     |no                 |family member         |Yes              |
|3      |1  |0  |0  |0  |0  |0  |1  |1  |0  |1  |36      |4             |m  |middle eastern|yes     |no                 |family member         |Yes              |
|4      |1  |1  |1  |1  |1  |1  |1  |1  |1  |1  |24      |10            |m  |Hispanic      |no      |no                 |family member         |Yes              |
|5      |1  |1  |0  |1  |1  |1  |1  |1  |1  |1  |20      |9             |f  |White European|no      |yes                |family member         |Yes              |
+-------+---+---+---+---+---+---+---+---+---+---+--------+--------------+---+--------------+--------+-------------------+----------------------+-----------------+
only showing top 5 rows

In [35]:
# build a dataframe with caseno, Qchatscore,Age-Moms,Class/ASD traits where Class/ASD traits =Yes)

In [38]:
Mom_autism_df = (autism_df
                 .select("Case_No","Age_Mons","Qchat-10-Score","Class/ASD Traits "))

In [45]:
Mom_autism_df.show(5, truncate=False)

+-------+--------+--------------+-----------------+
|Case_No|Age_Mons|Qchat-10-Score|Class/ASD Traits |
+-------+--------+--------------+-----------------+
|1      |28      |3             |No               |
|2      |36      |4             |Yes              |
|3      |36      |4             |Yes              |
|4      |24      |10            |Yes              |
|5      |20      |9             |Yes              |
+-------+--------+--------------+-----------------+
only showing top 5 rows

In [46]:
Mom_autism_df = (autism_df
                .select("Case_No","Age_Mons","Qchat-10-Score","Class/ASD Traits ")
                .where(col("Class/ASD Traits ") == "Yes"))

In [48]:
Mom_autism_df.show()

+-------+--------+--------------+-----------------+
|Case_No|Age_Mons|Qchat-10-Score|Class/ASD Traits |
+-------+--------+--------------+-----------------+
|      2|      36|             4|              Yes|
|      3|      36|             4|              Yes|
|      4|      24|            10|              Yes|
|      5|      20|             9|              Yes|
|      6|      21|             8|              Yes|
|      7|      33|             5|              Yes|
|      8|      33|             6|              Yes|
|     10|      22|             8|              Yes|
|     11|      36|             6|              Yes|
|     12|      17|             8|              Yes|
|     14|      15|             7|              Yes|
|     16|      12|             7|              Yes|
|     18|      12|             8|              Yes|
|     20|      12|             7|              Yes|
|     21|      36|             7|              Yes|
|     22|      36|             7|              Yes|
|     23|      36|             7|              Yes|
|     24|      36|             7|              Yes|
|     25|      22|             9|              Yes|
|     27|      36|             8|              Yes|
+-------+--------+--------------+-----------------+
only showing top 20 rows

In [49]:
# renaming Age_Mons to Age_Moms

In [50]:
autism_df = autism_df.withColumnRenamed("Age_Mons","Age_Moms")

In [51]:
(autism_df
.select("Age_Moms").show())

+--------+
|Age_Moms|
+--------+
|      28|
|      36|
|      36|
|      24|
|      20|
|      21|
|      33|
|      33|
|      36|
|      22|
|      36|
|      17|
|      25|
|      15|
|      18|
|      12|
|      36|
|      12|
|      29|
|      12|
+--------+
only showing top 20 rows

In [55]:
from pyspark.sql.functions import countDistinct

In [56]:
(autism_df
.select("Age_Moms")
.where(col("Age_Moms").isNotNull())
.agg(countDistinct("Age_Moms").alias("Distinctages")).show())

+------------+
|Distinctages|
+------------+
|          25|
+------------+

In [53]:
# to list the distinct ages
(autism_df
.select("Age_Moms").where(col("Age_Moms").isNotNull()).distinct().show())

+--------+
|Age_Moms|
+--------+
|      31|
|      34|
|      28|
|      26|
|      27|
|      12|
|      22|
|      13|
|      16|
|      20|
|      19|
|      15|
|      17|
|      35|
|      23|
|      25|
|      24|
|      29|
|      21|
|      32|
+--------+
only showing top 20 rows

In [57]:
# to list the distinct Q-chat
(autism_df
.select("Qchat-10-Score").where(col("Qchat-10-Score").isNotNull()).distinct().show())

+--------------+
|Qchat-10-Score|
+--------------+
|             1|
|             6|
|             3|
|             5|
|             9|
|             4|
|             8|
|             7|
|            10|
|             2|
|             0|
+--------------+

In [58]:
# Count the no. of cases for each Q-Chat-Score
(autism_df
.select("Qchat-10-Score")
.where(col("Qchat-10-Score").isNotNull())
.groupBy("Qchat-10-Score")
.count()
.orderBy('count', ascending=False)
.show())

+--------------+-----+
|Qchat-10-Score|count|
+--------------+-----+
|             7|  135|
|             5|  120|
|             4|  110|
|             8|   97|
|             6|   96|
|             3|   96|
|             9|   95|
|             1|   88|
|             2|   88|
|            10|   75|
|             0|   54|
+--------------+-----+

In [59]:
# The avg,min,max score
import pyspark.sql.functions as F
(autism_df
.select(F.avg("Qchat-10-Score"),F.min("Qchat-10-Score"),F.max("Qchat-10-Score")).show())

+-------------------+-------------------+-------------------+
|avg(Qchat-10-Score)|min(Qchat-10-Score)|max(Qchat-10-Score)|
+-------------------+-------------------+-------------------+
|  5.212523719165086|                  0|                 10|
+-------------------+-------------------+-------------------+

In [61]:
(autism_df
.select("Class/ASD Traits ").where(col("Class/ASD Traits ").isNotNull()).distinct().show())

+-----------------+
|Class/ASD Traits |
+-----------------+
|               No|
|              Yes|
+-----------------+

In [66]:
# Count the no of ASD cases in our data
(autism_df
.select("Class/ASD Traits ")
.where(col("Class/ASD Traits ").isNotNull())
.groupBy("Class/ASD Traits ")
.count()
.orderBy('count', ascending=False)
.show())

+-----------------+-----+
|Class/ASD Traits |count|
+-----------------+-----+
|              Yes|  728|
|               No|  326|
+-----------------+-----+

In [67]:
# the total cases = (728+326 = 1054). the percent comes to approx 69%

In [68]:
autism_df.printSchema

<bound method DataFrame.printSchema of DataFrame[Case_No: int, A1: int, A2: int, A3: int, A4: int, A5: int, A6: int, A7: int, A8: int, A9: int, A10: int, Age_Moms: int, Qchat-10-Score: int, Sex: string, Ethnicity: string, Jaundice: string, Family_mem_with_ASD: string, Who completed the test: string, Class/ASD Traits : string]>

In [69]:
# Filter out the 69% of the data
new_autism_df = (autism_df
                .select("Case_No","Qchat-10-Score","Age_Moms","Sex","Ethnicity","Jaundice","Family_mem_with_ASD")
                .where(col("Class/ASD Traits ") == "Yes"))

In [70]:
new_autism_df.show()

+-------+--------------+--------+---+--------------+--------+-------------------+
|Case_No|Qchat-10-Score|Age_Moms|Sex|     Ethnicity|Jaundice|Family_mem_with_ASD|
+-------+--------------+--------+---+--------------+--------+-------------------+
|      2|             4|      36|  m|White European|     yes|                 no|
|      3|             4|      36|  m|middle eastern|     yes|                 no|
|      4|            10|      24|  m|      Hispanic|      no|                 no|
|      5|             9|      20|  f|White European|      no|                yes|
|      6|             8|      21|  m|         black|      no|                 no|
|      7|             5|      33|  m|         asian|     yes|                 no|
|      8|             6|      33|  m|         asian|     yes|                 no|
|     10|             8|      22|  m|   south asian|      no|                 no|
|     11|             6|      36|  m|      Hispanic|     yes|                yes|
|     12|             8|      17|  m|middle eastern|     yes|                 no|
|     14|             7|      15|  f|middle eastern|     yes|                 no|
|     16|             7|      12|  m|         black|      no|                 no|
|     18|             8|      12|  f|middle eastern|     yes|                 no|
|     20|             7|      12|  f|         black|      no|                 no|
|     21|             7|      36|  m|middle eastern|      no|                 no|
|     22|             7|      36|  m|middle eastern|      no|                 no|
|     23|             7|      36|  m| Native Indian|     yes|                yes|
|     24|             7|      36|  m|middle eastern|     yes|                yes|
|     25|             9|      22|  m|White European|      no|                 no|
|     27|             8|      36|  m|middle eastern|      no|                 no|
+-------+--------------+--------+---+--------------+--------+-------------------+
only showing top 20 rows